{
    "presets":[
        "@babel/preset-env",
        "@babel/preset-react"

    ],
    "plugins":[
        ["@babel/plugin-proposal-decorators",{"legacy":true}],
        [
            "@babel/plugin-transform-runtime",  //配置babel-runtime插件
            {
                "absoluteRuntime":false,
                "corejs":2,  //核心库版本号
                "helpers":true,
                "regenerator":true,  //是否启用regenerator
                "useESModules":false
            }
        ]
    ]
}